<!-- <div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %>   ￥<%= product.price %>
    </div>
  <% end %>
</div> -->

<div class="container">
	<div class="row">
        <h2>商品列表</h2>
        <p>
            <!-- This snippent uses <a href="http://daneden.github.io/animate.css/" target="_blank">Animate.css</a> for the animation of the buttons. -->
        </p>
        <% @products.each do |product| %>
        <div class="col-sm-3">
            <article class="col-item">
        		<div class="photo">
        			<div class="options">
        				<button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
        					<i class="fa fa-heart"></i>
        				</button>
        				<button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
        					<i class="fa fa-exchange"></i>
        				</button>
        			</div>
        			<div class="options-cart">
        				<button class="btn btn-default" title="Add to cart">
        					<span class="fa fa-shopping-cart"></span>
        				</button>
        			</div>
        			<!-- <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a> -->
              <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
        		</div>
        		<div class="info">
        			<div class="row">
        				<div class="price-details col-md-6">
        					<p class="details">
        						<%= product.description %>
        					</p>
        					<h1><%= product.title %></h1>
        					<span class="price-new">¥ <%= product.price %></span>
        				</div>
        			</div>
        		</div>
        	</article>
            <!-- <p class="text-center">Hover over image</p> -->
        </div>
        <% end %>
	</div>
</div>
