<!-- <div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %>   ￥<%= product.price %>
    </div>
  <% end %>
</div> -->

<div class="container">
	<div class="row">
        <h2>商品列表</h2>
        <p>
            <!-- This snippent uses <a href="http://daneden.github.io/animate.css/" target="_blank">Animate.css</a> for the animation of the buttons. -->
        </p>
        <%= render "index_photo" %>
	</div>
</div>
